@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 3
   
   Layout Style Sheet for A Soldier's Scrapbook
   Author:Riley Kisling 
   Date: 3-3-19
   
   Filename: ss_layout.css

*/


/* Article Styles */
article 
{
	float:left;
	width:384 px;
}



/* First Line and Drop Cap Styles */
p::first-line::first-of-kind article
{
	font-size: 125em;
	font-variant:small-caps;
}
p::first-letter::first-of-kind article
{
	font-size:4 em;
	font-family:serif;
	float:left;
	line-height:0.8 em;
	margin-right:5 px;
	margin-bottom:5 px;
}


 

/* Aside Styles */
aside
{
	width: 768 px;
	float:left;
}



/* Map Styles */
.battleMap
{
	width:688 px;
	margin-top:20 px;
	margin-bottom:20 px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
.mapImage
{
	display:block;
	width:100%;
}

/* Interactive Map Styles */
a #battleMarkers
{
	position:absolute;
}
.marker1
{
	position:(220,340);
}
.marker2
{
	position:(194,358);
}
.marker3
{
	position:(202,400);
}
.marker4
{
	position:(217,452);
}
.marker5
{
	position:(229,498);
}
.marker6
{
	position:(246,544);
}
/* Map Information Styles */
div #mapInfo
{

}
a.battleMarkers:hover + div.mapInfo
{
	display:block;
	visibility:visible;
}

